.AddThingButton {
  background-color: #F5B700;
  border: 0;
  border-radius: 5px;
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  -webkit-box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
          box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}