@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);

.Thing {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.Thing:last-child {
  border-bottom: none;
}


input:checked + .details {
  background:#F9F9F9;
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

.Thing .details {
  margin: 0;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.Thing .name {
  -ms-flex: 1 1 0%;
      flex: 1 1 0%;
}

.actions {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  margin: -10px 0;
}

.Thing:hover .actions {
  opacity: 1;
}

.actions button {
  border: 0;
  background: transparent;
  color: #999;
  font-size: 1.5rem;
}

.actions button:hover {
  color: black;
}

.actions button.remove:hover {
  color: #AD343E;
}